<html ng-app="app">
<head>
  <title>Coucou</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="lb-services.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <h1> Mes items </h1>
  <h2> To be done </h2>
  <ul>
    <li ng-repeat="item in $root.items | filter:{isDone: false} track by item.id">
      {{ item.task }} {{item.isDone}}
      <button ng-click="check(item)">Done !</button>
    </li>
  </ul>
  <h2> Done </h2>
  <ul>
    <li ng-repeat="item in $root.items | filter:{isDone: true} | orderBy:'-doneDate' track by item.id"> {{ item.task }}</li>
  </ul>
</body>

</html>

